@model ShareMe.Core.Models.Photo

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>
<img src="@Model.Url" alt="photo"/>
<div>@Model.Description</div>
<div>
	<a asp-action="Index" asp-controller="Home">Back</a>
</div>

