@model FollowingViewModel
@using Microsoft.AspNetCore.Mvc.Localization

@inject IHtmlLocalizer<SharedResource> Localizer

@if (!Model.Following)
{
	<button id="follow"
			data-user-id="@Model.FolloweeId"
			class="btn btn-info js-toggle-following">
		@Localizer["Follow"]
	</button>
}
else
{
	<button id="follow"
			data-user-id="@Model.FolloweeId"
			class="btn btn-default js-toggle-following">
		@Localizer["Following"]
	</button>
}
