@model UserListViewModel

@foreach (var user in Model.Users)
{
	<div class="row">
		<div class="col col-md-6">@user.UserName</div>
		@{
			var viewModel = new FollowingViewModel
			{
				Following = Model.Followings.Contains(user.Id),
				FolloweeId = Model.UserId
			};
			@Html.Partial("_FollowPartial", viewModel)
		}
	</div>
}
