@model UserListViewModel

<ul class="list-group">
	@foreach (var user in Model.Users)
	{
		<li class="list-group-item">
			<div class="row">
				<div class="col col-md-6">@user.UserName</div>
				@{
					var viewModel = new FollowingViewModel
					{
						Following = Model.Followings.Contains(user.Id),
						FolloweeId = user.Id
					};
					if (Model.UserId != user.Id)
					{
						@Html.Partial("_FollowPartial", viewModel)
					}
				}
			</div>
		</li>
	}
</ul>

<script src="~/js/site.min.js" asp-append-version="true"></script>
<script>
	$(document).ready(() => {
		PhotoDetailsController.init();
	});
</script>
