@model ShareMe.ViewModels.PhotoViewModels.PhotosViewModel

@{
	ViewData["Title"] = "Photos";
}

@if (Model != null)
{
	<div class="photos">
		@foreach (var photo in Model.Photos)
		{
			@await Component.InvokeAsync("PhotoCard", photo.Id)
		}
	</div>
}
