@model IEnumerable<ShareMe.Core.Models.Photo>

@{
	ViewData["Title"] = "Photos";
}


<h2>Photos</h2>
@if (Model != null)
{
	<div class="photos">
		@foreach (var photo in Model)
		{
			<div class="photo-container" style="background-image: url('@photo.Url');">
				<a asp-controller="Photos" asp-action="Details" />
			</div>
		}
	</div>
}

